h1 {
	color: white;
	background-color: #4169E1;
    padding: 3px 0 3px 5px;
    border-radius: 5px; 
    margin: 3px;
    text-align: center;
}

button {
	color: white; 
	background-color: #4169E1;
    border-radius: 5px;
    margin: 10px; 
    height: 30px; 
    width: 175px;
    font-size: 16px;
}

body {
	background-color: azure;
	font-family: Tahoma, Geneva, sans-serif;
}

.tweet { 
	margin: 0 5px 0 5px;
	padding: 5px; 
	border-radius: 5px
}
        		
.timestamp, .username {
	font-size: 12px;
	font-style: italic;
	margin: 3px 3px 0 0px;
}

.stream, .users {
	display: inline-block;
}

.users {
	position: absolute;
	top: 50px;
	right: 200px;
	color: #4169E1;  
}

.users p {
	text-decoration: underline;
	cursor: pointer;
}

.users h2 {
	text-align:center;
}

.username {
	margin: 0 0 3px 0;
}

.filter {
	display: none
}









