h1 {
	display: inline;
	color: white;
	background-color: #4169E1;
    padding: 3px 0 3px 5px;
    border-radius: 5px; 
    margin: 10px
}

#news-feed {
	display: inline;
	color: #4169E1; 
	background-color: azure;
    padding: 3px 0 3px 5px
}

button {
	color: white; 
	background-color: #4169E1;
    border-radius: 5px;
    font-family: Tahoma, Geneva, sans-serif;
    margin: 0 10px 10px 500px;
    height: 30px; 
    width: 120px;
    font-size: 16px;
}

body {
	background-color: azure;
}

div {
	font-family: Tahoma, Geneva, sans-serif; 
	margin: 10px; 
	border: 1px solid black;
	padding: 5px; 
	border-radius: 5px
}
        		
.timestamp {
	position: absolute; 
	right: 25px; 
	font-size: 12px
}

.link {
	color: blue; 
	text-decoration: underline
}




